/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗕𝗢𝗗𝗬
/*--------------------------------------------------*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; !important
    color: #000000; !important
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗
/*--------------------------------------------------*/

.card {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗛𝗘𝗔𝗗𝗘𝗥
/*--------------------------------------------------*/
.card h1 {
    margin-top: 0;
    font-size: 30px;
    /*color: #333;*/
    color: #F5BD02;
    font-family: "Lobster", sans-serif;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗛𝗘𝗔𝗗𝗘𝗥
/*--------------------------------------------------*/
.card h2 {
    margin-top: 0;
    font-size: 24px;
    /*color: #333;*/
    color: #000000;
    font-family: "Lobster", sans-serif;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗛𝗘𝗔𝗗𝗘𝗥
/*--------------------------------------------------*/
.card p {
    font-size: 16px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗜𝗠𝗔𝗚𝗘
/*--------------------------------------------------*/
.card img {
    position: absolute;
    top: 59%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -20%); /* Adjust vertical position */
    width: 155px; /* Adjusted width for larger screens */
    height: 155px; /* Adjusted height for larger screens */
    border-radius: 50%;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗕𝗨𝗧𝗧𝗢𝗡
/*--------------------------------------------------*/
.card button {
    position: absolute;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: #9a9a9a;
    color: #fff;
    border: none;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/*--------------------------------------------------*/
/* 𝗗𝗘𝗙𝗜𝗡𝗜𝗡𝗚 𝗖𝗔𝗥𝗗 𝗕𝗨𝗧𝗧𝗢𝗡 𝗛𝗢𝗩𝗘𝗥
/*--------------------------------------------------*/
.card button:hover {
    background-color: #E5E4E5;
}
