.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Adjust width as needed */
    margin: 20px auto; /* Centers the card horizontally */
    border: 1px solid #ddd; /* Add a solid border */
    text-align: center; /* Center-align text horizontally */
    display: flex;
    justify-content: center; /* Center-align text vertically */
    align-items: center;}

.card-content {
    /* Additional styles for the content inside the card */
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #333;
}

.corner-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}
