.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Adjust width as needed */
    margin: 20px auto; /* Centers the card horizontally */
    border: 1px solid #ddd; /* Add a solid border */
    text-align: center; /* Center-align text horizontally */
    display: flex;
    justify-content: center; /* Center-align text vertically */
    align-items: center;
}

.card-content {
    /* Additional styles for the content inside the card */
    position: relative
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #333;
}

.card-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire area */
}
