/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—•ğ—¢ğ——ğ—¬
/*--------------------------------------------------*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; !important
    color: #000000; !important
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ——
/*--------------------------------------------------*/

.card {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—›ğ—˜ğ—”ğ——ğ—˜ğ—¥
/*--------------------------------------------------*/
.card h1 {
    margin-top: 0;
    font-size: 30px;
    /*color: #333;*/
    color: #F5BD02;
    font-family: "Lobster", sans-serif;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—›ğ—˜ğ—”ğ——ğ—˜ğ—¥
/*--------------------------------------------------*/
.card h2 {
    margin-top: 0;
    font-size: 24px;
    /*color: #333;*/
    color: #000000;
    font-family: "Lobster", sans-serif;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—›ğ—˜ğ—”ğ——ğ—˜ğ—¥
/*--------------------------------------------------*/
.card p {
    font-size: 16px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—œğ— ğ—”ğ—šğ—˜
/*--------------------------------------------------*/
.card img {
    position: absolute;
    top: 59%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -20%); /* Adjust vertical position */
    width: 155px; /* Adjusted width for larger screens */
    height: 155px; /* Adjusted height for larger screens */
    border-radius: 50%;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—•ğ—¨ğ—§ğ—§ğ—¢ğ—¡
/*--------------------------------------------------*/
.card button {
    position: absolute;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: #9a9a9a;
    color: #fff;
    border: none;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/*--------------------------------------------------*/
/* ğ——ğ—˜ğ—™ğ—œğ—¡ğ—œğ—¡ğ—š ğ—–ğ—”ğ—¥ğ—— ğ—•ğ—¨ğ—§ğ—§ğ—¢ğ—¡ ğ—›ğ—¢ğ—©ğ—˜ğ—¥
/*--------------------------------------------------*/
.card button:hover {
    background-color: #E5E4E5;
}
